<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css"

      title="Wrap Long Lines">
  </head>
  <body>
    <pre>/*==============================================
[Turquoise color stylesheet turquoise.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
color: #000000;
}
a.button_full, a.button_small, .call_button a{
background-color:#1a715e; 
}
.button {
border: 1px solid #000000;
color: #000000;
}
.button.active {
background: #000000;
}
#pages_maincontent h3{
color:#000000;
}
.photo-categories a.active{
background-color:#000000;
}
.post_date{
color:#000000;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #1a715e;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
background-color:#1a715e;
}
ul.responsive_table li:first-child{
background-color:#000000;
color:#FFFFFF;
}
li.table_row{
background-color:#000000;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
background: url(../../images/colors/turquoise/bg.jpg) no-repeat center center;
background-attachment:fixed;
-webkit-background-size: 100%; 
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover;
}
.navbarpages{
background:url(../../images/colors/turquoise/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
background: #000000;
border-bottom:1px #FFFFFF solid;
}
.main-nav ul li a{
color:#FFF;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
background: #000000;
}
.popup-login, .popup-signup, .popup-forgot{
background-color:#263239;
}
.toolbar:before {
  background-color: #082722;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
background:#088b6f;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #11a787 solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
background-color:#088b6f;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
background-color:#088b6f;
}</pre>
  </body>
</html>
